@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

:root {
  --mukta: 'Mukta', sans-serif;
  --slab: 'Roboto Slab', serif;
  /* Primary color palette */
  --white: #fff;
  --black: #000;
  --black-blur: #19222e;
  --black-faded: #233142;
  --charcoal: #455d7a;
  --coral: #f95959;
  --lightgray: #e3e3e3;
  /* Secondary palette */
  --vanilla: #f2ece4;
  --brickblue: #b2c9d8;
  --bluehover: #ccdfeb;
  --salmon: rgba(250, 128, 114, 1);
  --salmonlgt: rgba(250, 128, 114, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

html {
  font-family: var(--slab);
  text-transform: capitalize;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  background-color: var(--black-blur);
}

.header h1 {
  font-size: 4em;
  font-weight: 600;
  color: var(--white);
  letter-spacing: 0.1em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3em;
  gap: 2em;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  gap: 1em;
}

.message-container {
  text-align: center;
  width: 300px;
  height: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  height: 100%;
  gap: 1em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 1px;
}

.btn {
  background-color: var(--black-faded);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.btn.reset {
  background-color: var(--coral);
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
}

.cell:hover {
  cursor: pointer;
}

.cell.ship-preview {
  background-color: lightgreen;
}

.cell.ship-placed {
  background-color: darkgray;
}

.cell.hit {
  background-color: red;
}

.attacked {
  background-color: #eee;
}

.hide {
  display: none;
}

/* media queries for mobile */
@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .message-container {
    width: 50%;
  }
}
